{{page-title "TheApp"}}

 <BasicDropdown  as | Dropdown |>
    <Dropdown.Trigger class="user-greeting">
      <button type="button" class="btn-content fill-yiq">Name
      </button>
    </Dropdown.Trigger>
    <Dropdown.Content class="user-actions">
      <div class="pop-up-box box-arrow">
        Content
        
      </div>
    </Dropdown.Content>
  </BasicDropdown>
  <Test {{did-insert this.test }}/>

{{outlet}}